*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color:#f0f8ff ;
}
header{
    background-color: #4a90e2;
    padding: 10px;
    position: fixed;   
    width: 100%; 
}
.logo{
    margin-right: 11px;
}
.f-left{
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.f-right{
    float: right;
    padding: 10px;
}
a{
    padding: 10px;
    text-decoration: none;
    color: white;
}
a:hover{
    color: #ffd700;
}