*{
    box-sizing: border-box;
}
.div1{
    padding: 70px;
    float: right;
    background-color: pink;
}
.texto{
    background-color: orange;
}
.div2{
    background-color: aqua;
    float: left;
}
