
.container {
    max-width: 1024px;
    margin: 0 auto;
  }

.logo{
    float: right;
}
.navigation{
    float: left;
}

.sidebar{
    height: 200px;
}

.col-9>div{
    margin-bottom: 10px;
    height: 95px;
}

[class*="col-3"] {

    padding-inline: 0px;
    padding-right: 10px;
    
}
[class*="col-12"] {
    padding: 0px;    
}