*{
    box-sizing: border-box;
}

.container{
    max-width: 1024px;
    margin: 0 auto;
}

.logo{
    float: right;
}
.navigation{
    float: left;
}

.sidebar{
    height: 200px;
}

.sub-content{
    margin-bottom: 10px;
}




