* {
    box-sizing: border-box;   
}

.container::after{
    content: '';
    clear: both;
    display: table;
}
div *{
    padding: 20px;
    float: left;
    width: 25%;
    text-align: center;

}

.div1{
    background-color: aqua;
}
.div2{
    background-color: rgb(75, 71, 181);
}
.div3{
    background-color: rgb(187, 147, 176);
}
.div4{
    background-color: rgb(118, 185, 99);
}