*{
    box-sizing: border-box;
}
.clearfix::after{
    content: '';
    clear: both;
    display: table;
}
.img{
    width: 33%;
    float: right;
    text-align: center;
    padding:10px;
}
.img img{
    width: 100%;
}
footer{
    width: 100%;
    content: '';
    display: table;
    clear: both;
    background-color: grey;
}