*{
    box-sizing: border-box;
}

.div1{
    padding: 50px;
    background-color: pink;
    float: right;
}
.div2{
    background-color: aqua;
    display: inline-block;
    margin-top: 30px;
}
.texto{
    background-color: orange;
}